.tabla{
    position: relative;
    width: 220px;
    overflow: auto;
    background-color: blue;
    border-style: solid;
    border-width: medium;
    border-color: black;
}
.header{
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 4px 0px; 
}