.jtk-demo-canvas {
    width: 1250px;    
    height:500px;
    max-height:700px;
    border:1px solid #CCC;
    background-color:white;
    display: flex;
    position:relative;
    overflow: auto;
}
.list {
    position:absolute;
}
.tab-content{
    top: 550px;
}.item{
    width: 170px;
}
