<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div draggable="true">arrastrame</div>
      <button (click)="showJSON()"> Mostrar JSON</button>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="jtk-demo-canvas" id="canvas">
          <div #lista1 class="position-absolute p-0 border border-top-0" id="list1">
            <ul class="list-group">
              <p class="list-group-item active m-0">
                {{listTabsCanvas[0].tab.nombre}}
              </p>
              <div class="form-check ml-2 border-bottom" *ngFor="let item of listTabsCanvas[0].tab.atributos">
                <input class="form-check-input mt-3" type="checkbox" id="gridCheck" (change)="checkEmiter($event,listTabsCanvas[0].tab, item)">
                <label class="form-check-label" for="gridCheck">
                  <li class="list-group-item border-0 p-2 item">
                    {{item}}
                  </li>
                </label>
              </div>
            </ul>
          </div>
          <div #lista2 class="position-absolute p-0 border border-top-0" id="list2">
            <ul class="list-group">
              <p class="list-group-item active m-0">
                {{listTabsCanvas[1].tab.nombre}}
              </p>
              <div class="form-check ml-2 border-bottom" *ngFor="let item of listTabsCanvas[1].tab.atributos">
                <input class="form-check-input mt-3" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  <li class="list-group-item border-0 p-2 item">
                    {{item}}
                  </li>
                </label>
              </div>
            </ul>
          </div>
        </div>
      </div>
        <div class="row" >
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Atributos</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Párametros</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="updateEditRelation()">Relaciones</a>
            </div>
            <div class="tab-content position-absolute" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" *ngFor="let item of listAtrEdit">
                <div class="form-row" *ngIf="listAtrEdit">
                  <div class="form-group col-md-6" >
                    <input #in type="text" class="form-control" id="atr" value={{item.atr}}>
                  </div>
                  <div class="form-group col-md-6">
                    <button type="button" class="btn btn-primary" (click)="cambAtr(in.value, item)">Aceptar</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" >
                <div class="form-row" *ngFor="let item of listEDitRelacion">
                  <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" value={{item.source}}>
                  </div>
                  <div class="col-md-4 mb-3">
                    <select class="custom-select">
                      <option selected>Inner</option>
                      <option value="1">Left</option>
                      <option value="2">Rigth</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" value={{item.target}}>
                  </div>
                </div>
              </div>
            </div>      
      </div>
    </div>
  </div>
  
</div>